<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>892050869776-dlisbg2qq4u01qp1060r7f5880q98nli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.892050869776-dlisbg2qq4u01qp1060r7f5880q98nli</string>
	<key>API_KEY</key>
	<string>AIzaSyCuBXqFb90CPEBP_KfyHcoewDI4KZTDae0</string>
	<key>GCM_SENDER_ID</key>
	<string>892050869776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.catchropV1</string>
	<key>PROJECT_ID</key>
	<string>catchrop-4caf2</string>
	<key>STORAGE_BUCKET</key>
	<string>catchrop-4caf2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:892050869776:ios:ce9d5b06623eae14b14495</string>
</dict>
</plist>